.header {
  width: 100%;
  height: 50px;
  box-shadow: 0 1px 5px #ddd;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 500;
  color: #777;
}

.card_container {
  /* background-color: skyblue; */
  width: 80%;
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 23%;
  /* background-color: seagreen; */
  text-align: center;
  box-shadow: 0 2px 8px #999;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.card:hover {
  transform: scale(1.03, 1.03);
}

.card img {
  width: 100%;
  height: 50%;
  border-radius: 5px 5px 0 0;
}

.card button {
  width: 80%;
  font-size: 16px;
  padding: 8px 10px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.card button:hover {
    background-color: rgb(255, 61, 27);
}

.card a {
    all: unset;
    cursor: pointer;
}

.card p {
    direction: rtl;
}