.header {
    width: 100%;
    height: 50px;
    box-shadow: 0 1px 5px #ddd;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    font-size: 18px;
    font-weight: 500;
    color: #777;
}

ul {
    direction: rtl;
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li {
    width: 95%;
    cursor: pointer;
    margin-bottom: 5px;
    box-shadow: 0 1px 5px #ddd;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.3s ease;
}

ul li a{
    all: unset;
}

ul li:hover{
    transform: scale(1.03,1.03);
}